<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>report</title>
    <link rel="stylesheet" href="../css/report.css">
    <script type="module" src="../js/report.js" defer></script>
    
</head>
<body>
    <main class="main">
        <section class="main__banner">
            <article class="banner__opcion">
                <a href="#"><img src="../storage/img/arrowBack.svg"> Go back</a>
                <a href="#"><img src="../storage/img/option.svg"></a>
            </article>
        </section>
        <section class="main__report">
            <article class="report__user">
                <h1>Report Garden</h1>
                <small id="clock"></small>
                <strong> Report / clients</strong>
            </article>
            <article class="report__menu">
                <button class="report__active">clients</button>
                <button>employees</button>
                <!-- <button>gama</button> -->
                <button>offices</button>
                <button>payments</button>
                <button>product</button>
                <button>request details</button>
                <button>requests</button>
            </article>
            <article class="report__details">

            <my-details logic="getClientsWithSalesRepresentatives" query =  " 2. Muestra el nombre de los clientes que hayan realizado pagos junto con el nombre de sus representantes de ventas."></my-details>
            <my-details logic="getClientsWithoutPayments" query =  " 3. Muestra el nombre de los clientes que no hayan realizado pagos junto con el nombre de sus representantes de ventas."></my-details>
            <my-details logic="getClientsWithPaymentsAndSalesRepresentativesAndOfficeCity" query =  " 4.Devuelve el nombre de los clientes que han hecho pagos y el nombre de sus representantes junto con la ciudad de la oficina a la que pertenece el representante."></my-details>
            <my-details logic="getClientsWithoutPaymentsAndSalesRepresentativesAndOfficeCity" query =  "5. Devuelve el nombre de los clientes que no hayan hecho pagos y el nombre de sus representantes junto con la ciudad de la oficina a la que pertenece el representante."></my-details>
             <my-details logic="getAllSpanishClientsNames" query = "6. Devuelve un listado con el nombre de los todos los clientes españoles."></my-details>
             <my-details logic="getClientsEmploy" query = "7. Devuelve el nombre de los clientes y el nombre de sus representantes 
             junto con la ciudad de la oficina a la que pertenece el representante."></my-details>
            <my-details logic="getAllMadridClients" query = "16. Devuelve un listado con todos los clientes que sean de la 
            // ciudad de Madrid y cuyo representante de ventas tenga el código 
            // de empleado 11 o 30."></my-details>


            <my-details logic="getAllFullNameAndEmailsAndBoss" query = "3. Devuelve un listado con el nombre, apellidos y email de los empleados 
            cuyo jefe tiene un código de jefe igual a 7."></my-details>
            <my-details logic="getBossFullNameAndEmail" query = "4. Devuelve el nombre del puesto, nombre, apellidos y email del jefe de la empresa."></my-details>
            <my-details logic="getAllFullnamePositionDiferentSalesRepresentative" query = "5. Devuelve un listado con el nombre, apellidos y puesto de aquellos empleados que no sean representantes de ventas."></my-details>
            <my-details logic="getEmployeesWithBossesAndBossesOfBosses" query = "8.Devuelve un listado con el nombre de los empleados junto con el nombre de sus jefes."></my-details>


            <my-details logic="getAllOficceAndCodeCity" query = "1. Devuelve un listado con el código de oficina y la ciudad donde hay oficinas."></my-details>
            <my-details logic="getAllCityNamesAndMovilNUmbersOfSpanishOffices" query = "2. Devuelve un listado con la ciudad y el teléfono de las oficinas de España."></my-details>




            
            
            </article>
        </section>
    </main>
</body>
</html>